.navbar {
  background-color: #1c2127;
}

.nav-content {
  display: flex;
  column-gap: 100px;
}

.nav-logo-links {
  display: flex;
  align-items: center;
  gap: 9px;
}

.circle-logo {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff8000;
}

.title-logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;

  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-links a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #9ca3af;
  text-decoration: none;
}

.nav-interaction {
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-interaction .input-search {
  padding-block: 8px;
  padding-left: 16px;
  background-color: #232831;
  border: none;
  border-radius: 8px;

  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 100%;
  color: #fff;
}

.profile-photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ff8000;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.profile-photo .initials {
  color: #14181c;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
}

.hero .badge {
  /* background-color: rgba(255, 128, 0, 0.18);
  border: 1px solid rgba(255, 128, 0, 0.4); */
}

.hero .image-wrapper {
  height: 400px;
}
